{% extends 'layouts/admin.twig' %}

{% block title %} Анахата йога - студія. Панель адміністратора. {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 admin-welcome">
            <h2 class="admin-welcome-h2">
                <span>Зміна паролю</span>
            </h2>
            <hr>
            <div class="row justify-content-center">
                <div id="pass_change_from_container" class="col-12 col-md-10 col-lg-9 col-xl-6">
                    {{ showInfoBlock() }}
                    <form action="{{ url('admin/profile/update_password', admin.id) }}" method="post" role="form" id="edit_password" enctype="multipart/form-data">
                        <div id="current-pass-input-group" class="add-news-form-group form-group">
                            <label for="old_password" class="news-form-label">Діючий пароль</label>
                            <input type="password" name="old_password" class="form-control">
                            <div class="invalid-feedback"></div>
                            <div class="valid-feedback"></div>
                        </div>

                        <div class="add-news-form-group form-group">
                            <label for="password" class="news-form-label">Новий пароль</label>
                            <input disabled type="password" name="password" class="form-control {{ form_data.errors ? (form_data.errors.password ? 'is-invalid' : 'is-valid') : '' }}">
                            <div class="invalid-feedback">
                                {{ form_data.errors.password ?? '' }}
                            </div>
                        </div>

                        <div class="add-news-form-group form-group">
                            <label for="password_confirm" class="news-form-label">Підтвердіть пароль</label>
                            <input disabled type="password" name="password_confirm" class="form-control {{ form_data.errors ? (form_data.errors.password_confirm ? 'is-invalid' : '') : '' }}">
                            <div class="invalid-feedback">
                                {{ form_data.errors.password_confirm ?? '' }}
                            </div>
                        </div>

                        <p class="small text-justify" style="color:#212529">
                            <b>Важливо!</b> Пароль повинен складатися із літер латинського алфавіту та має містити мінімум
                            одну цифру та один спецсимвол (наприклад * тощо). Мінімальна довжина паролю - 8 символів. Масимальна - 15.
                        </p>

                        <div class="form-group mt-3">
                            <button disabled type="submit" class="form-control admin-sumb-button" name="edit_password_confirmed">Змінити пароль</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}